<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
	<targets>
		<target name="Error" xsi:type="File"
				fileName="${currentdir}/logs/${shortdate}/error.txt"
				archiveAboveSize="10000000"
				maxArchiveFiles="15">
			<layout xsi:type="SimpleLayout" text="${date:format=yyyy-MM-dd HH\:mm\:ss} ${level} ${message}"/>
		</target>
		<target name="Warn" xsi:type="File"
				fileName="${currentdir}/logs/${shortdate}/warn.txt"
				archiveAboveSize="10000000"
				maxArchiveFiles="15">
			<layout xsi:type="SimpleLayout" text="${date:format=yyyy-MM-dd HH\:mm\:ss} ${level} ${message}"/>
		</target>
		<target name="Info" xsi:type="File"
				fileName="${currentdir}/logs/${shortdate}/info.txt"
				archiveAboveSize="10000000"
				maxArchiveFiles="15">
			<layout xsi:type="SimpleLayout" text="${date:format=yyyy-MM-dd HH\:mm\:ss} ${level} ${message}"/>
		</target>
	</targets>
	<rules>
		<logger name="*" minlevel="Error" writeTo="Error" final="true" />
		<logger name="*" minlevel="Warn" writeTo="Warn" final="true" />
		<logger name="*" minlevel="Info" writeTo="Info" final="true" />
	</rules>
</nlog>