<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="${currentdir}/logs/${shortdate}/internal-nlog.txt">
	<targets>
		<target name="InfoFile" xsi:type="File"
				fileName="${currentdir}/logs/${shortdate}/info.txt"
				archiveAboveSize="10000000"
				maxArchiveFiles="10">
			<layout xsi:type="SimpleLayout" text="${longdate} ${level} ${message}"/>
		</target>
		<target name="ErrorFile" xsi:type="File"
				fileName="${currentdir}/logs/${shortdate}/error.txt"
				archiveAboveSize="10000000"
				maxArchiveFiles="10">
			<layout xsi:type="SimpleLayout" text="${longdate} ${level} ${message}"/>
		</target>
	</targets>
	<rules>
		<!--<logger name="Microsoft.*" minlevel="Trace" final="true" />-->
		<logger name="*" minlevel="Error" writeTo="ErrorFile" final="true" />
		<logger name="*" minlevel="Info" writeTo="InfoFile" final="true" />
	</rules>
</nlog>